# III. Model Selection
## Assignment 2
### Model Selection on Climate Change on Crop

### **Step 1: Get to know Problem**
We create frame different types of machine learning tasks:
- **Classification**: Classifying the type of **Extreme Weather Event** or **Soil Health** levels based on weather conditions.
- **Clustering**: Grouping similar data points based on conditions like **Temperature**, **CO2 Levels**, and **Precipitation**.
- How the Crop Disease Incidence	Water Availability	Food Security	Economic Impact will be affected by Extreme Weather Events

In [81]:
import pandas as pd

# Load the dataset
df = pd.read_csv('processed_climate_change_data.csv')

# Display a few rows of the dataset
df.head()

# Get a summary of the dataset to understand the structure
df.info()

# Get basic statistics for numerical columns
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Temperature             1000 non-null   int64
 1   Precipitation           1000 non-null   int64
 2   CO2 Levels              1000 non-null   int64
 3   Crop Yield              1000 non-null   int64
 4   Soil Health             1000 non-null   int64
 5   Extreme Weather Events  1000 non-null   object
 6   Crop Disease Incidence  1000 non-null   object
 7   Water Availability      1000 non-null   object
 8   Food Security           1000 non-null   object
 9   Economic Impact         1000 non-null   object
dtypes: int64(5), object(5)
memory usage: 78.3+ KB

       Temperature  Precipitation   CO2 Levels   Crop Yield  Soil Health
count  1000.000000     1000.00000  1000.000000  1000.000000   1000.00000
mean     25.129000       47.90500   401.983000   545.497000      5.51700
std      14.920489       29.81904    57.153664   260.779723      2.84672
min       0.000000        0.00000   300.000000   100.000000      1.00000
25%      12.000000       21.00000   355.000000   320.000000      3.00000
50%      25.000000       48.00000   404.000000   546.000000      6.00000
75%      39.000000       72.00000   452.000000   768.250000      8.00000
max      50.000000      100.00000   500.000000  1000.000000     10.00000